@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Telugu:wght@500&family=Oswald:wght@300;400&display=swap');
 body{
  color: black !important;
  font-family: 'Oswald';
 }

 a , a:hover{
  text-decoration: none;
  color: white;
 }